version: "3.9"

services:
  fastapi:
    image: fastapi_hardened:latest
    container_name: fastapi-prod-test2

    ports:
      - "8000:8000"

    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

        reservations:
          memory: 256M
          